<div *ngIf="transaction" class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Edit transaction</mat-card-title>
    </mat-card-header>

    <form #transactionForm="ngForm"
          (ngSubmit)="onSubmit()">

      <p>
        <mat-form-field [hideRequiredMarker]="false">
          <input matInput placeholder="Amount"
                 [(ngModel)]="transaction.amount"
                 name="amount"
                 type="number"
                 required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Type"
                      [(ngModel)]="transaction.type" name="type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                 [value]="transaction.date"
                 (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
        <textarea matInput placeholder="Description"
                  name="description"
                  [(ngModel)]="transaction.description"></textarea>
        </mat-form-field>
      </p>

      <button type="submit" mat-raised-button color="primary" [disabled]="!transactionForm.form.valid">Update</button>
      <button mat-button color="warn" (click)="deleteTransaction(transaction._id)">Delete</button>
    </form>
  </mat-card>
</div>
