<app-error-message></app-error-message>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span *ngIf="authenticationService.isLoggedIn()" class="menu-spacer">
      <button mat-button color="white" [routerLink]="['wallets']">Wallets</button>
    </span>
    <span *ngIf="authenticationService.isLoggedIn()">
      {{ authenticationService.getUserDetails()?.name }}
    </span>
    <span *ngIf="!authenticationService.isLoggedIn()">
      <button mat-button color="white" [routerLink]="['login']">Login</button>
    </span>
    <span *ngIf="!authenticationService.isLoggedIn()">
      <button mat-button color="white" [routerLink]="['register']">Register</button>
    </span>
    <span *ngIf="authenticationService.isLoggedIn()">
      <button mat-button color="white" (click)="authenticationService.logout()">Logout</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
