<mat-card *ngIf="wallet">
  <mat-card-header *ngIf="!editMode">
    <p>
      {{wallet.name}} {{wallet.total}} {{wallet.currency.value}}
      <button mat-button color="primary" (click)="onChangeEditMode(true)">Edit</button>
    </p>
  </mat-card-header>
  <mat-card-header *ngIf="editMode">
    <form>
      <mat-form-field>
        <input matInput placeholder="Name"
               name="name" [(ngModel)]="wallet.name"
               required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Total"
               name="total" [(ngModel)]="wallet.total"
               type="number"
               required>
      </mat-form-field>
      {{wallet.currency.value}}
      <button mat-button color="primary" (click)="saveWalletChanges()">Save</button>
    </form>
  </mat-card-header>
</mat-card>

<app-transaction-line-chart *ngIf="transactions.length > 0"
                            [transactions]="transactions"
                            [wallet]="wallet">
</app-transaction-line-chart>

<app-transactions-table [transactions]="transactions"></app-transactions-table>
<a [routerLink]="['/transaction-create', {walletId: walletId}]" class="btn btn-default btn-lg">
  <button mat-raised-button color="primary">Create transaction</button>
</a>

